{% extends "base.html" %}

{% block title %}Login{% endblock %}

{% block content %}
<div class="login-container">
    <div class="login-card">
        <img src="{{ url_for('static', filename='logo.png') }}" alt="Logo Arya Promotora" class="logo">
        <h3>Login</h3>
        <form method="post">
            <label>Usuário:</label><br>
            <input type="text" name="username" required value="{{ request.form.username or '' }}">
            <br><br>
            <label>Senha:</label><br>
            <input type="password" name="password" required>
            <br><br>
            <button type="submit">Entrar</button>
        </form>
    </div>
</div>
{% endblock %}